body{
background-color: rgb(202, 196, 196);
}
.header-text{
        background-image: url(../image/bg.jpg) ;
        height: 100vh;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .text-body{
        /* margin-left:480px ; */
        text-align: center;
        font-style: italic;
        color: white;
 background-color: rgb(17, 138, 138);
 box-shadow: 2px 2px 5px 0px rgba(255, 255, 255, 0.658);
width: 450px;
height: 40px;
}
.text-body:hover{
    background-color: rgb(30, 215, 89);
    transition: ease-in 0.7s;
color: rgba(0, 0, 0, 0.607);
box-shadow: 4px 4px 5px 0 rgb(13, 137, 137) ;
}
.header-text{
    display: flex;
    column-gap: 45px;
    padding:2px 0 0 7px ;
}
.info{
    text-align: center;
    font-size: 30px;
    font-style: oblique ;
}
.info-text{
    display: grid;
    grid-template-columns: repeat(2,1fr);
background-image: url(../image/textbg.jpg);
margin-top: 20px;
}
img{
/* padding: 20px 425px 0 430px; */
padding: 20px 200px 0 200px  ;
margin-left: 240px;
width:550px;
height: 550px;
background-color: #f2f2f2;
}
.images{
    margin-top: 10px;
    width: 500px;
    height: 600px;
    display: block;
}
.image-text{
    text-align: center;
    font-style: italic;
    font-size: 20px;
}
.icons{
    font-size: 30px;
    display: flex;
    justify-content:space-evenly;
    margin-right: 40px;
}
.link{
    text-decoration: none;
    list-style: none;
    color: black;
    border: 2px solid black;
height: 35px;
width: 35px;
padding:2px 0 0 4px;
font-size: 30px;
color: white;
background-color:black;
}
.more{
    text-align: center;
    margin: 60px 0 60px 0 ;
}
